In [ ]:
%matplotlib inline

In [ ]:
# !pip uninstall transformers
!pip install transformers==3.5

Requirement already satisfied: transformers==3.5 in /usr/local/lib/python3.6/dist-packages (3.5.0)
Requirement already satisfied: tqdm>=4.27 in /usr/local/lib/python3.6/dist-packages (from transformers==3.5) (4.41.1)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from transformers==3.5) (2.23.0)
Requirement already satisfied: sentencepiece==0.1.91 in /usr/local/lib/python3.6/dist-packages (from transformers==3.5) (0.1.91)
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.6/dist-packages (from transformers==3.5) (2019.12.20)
Requirement already satisfied: sacremoses in /usr/local/lib/python3.6/dist-packages (from transformers==3.5) (0.0.43)
Requirement already satisfied: filelock in /usr/local/lib/python3.6/dist-packages (from transformers==3.5) (3.0.12)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from transformers==3.5) (1.19.5)
Requirement already satisfied: tokenizers==0.9.3 in /usr/local/lib/python3.6/dist-packages (from transformers==3.5) (0.9.3)
Requirement already satisfied: dataclasses; python_version < "3.7" in /usr/local/lib/python3.6/dist-packages (from transformers==3.5) (0.8)
Requirement already satisfied: protobuf in /usr/local/lib/python3.6/dist-packages (from transformers==3.5) (3.12.4)
Requirement already satisfied: packaging in /usr/local/lib/python3.6/dist-packages (from transformers==3.5) (20.9)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->transformers==3.5) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->transformers==3.5) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->transformers==3.5) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->transformers==3.5) (3.0.4)
Requirement already satisfied: click in /usr/local/lib/python3.6/dist-packages (from sacremoses->transformers==3.5) (7.1.2)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from sacremoses->transformers==3.5) (1.15.0)
Requirement already satisfied: joblib in /usr/local/lib/python3.6/dist-packages (from sacremoses->transformers==3.5) (1.0.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from protobuf->transformers==3.5) (53.0.0)
Requirement already satisfied: pyparsing>=2.0.2 in /usr/local/lib/python3.6/dist-packages (from packaging->transformers==3.5) (2.4.7)

In [ ]:
import logging
import time
from platform import python_version
import random
from tqdm import tqdm
import re

import matplotlib
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import sklearn
import torch
import torch.nn as nn
import torch.nn.functional as F
import transformers
from sklearn.metrics import roc_auc_score
from torch.autograd import Variable

In [ ]:
random_seed = 42

torch.manual_seed(random_seed)
torch.cuda.manual_seed(random_seed)
# torch.cuda.manual_seed_all(random_seed) # if use multi-GPU
# torch.backends.cudnn.deterministic = True
torch.backends.cudnn.benchmark = False
np.random.seed(random_seed)
random.seed(random_seed)

In [ ]:
print("python version==%s" % python_version())
print("pandas==%s" % pd.__version__)
print("numpy==%s" % np.__version__)
print("torch==%s" % torch.__version__)
print("sklearn==%s" % sklearn.__version__)
print("transformers==%s" % transformers.__version__)
print("matplotlib==%s" % matplotlib.__version__)

python version==3.6.9
pandas==1.1.5
numpy==1.19.5
torch==1.7.0+cu101
sklearn==0.22.2.post1
transformers==3.5.0
matplotlib==3.2.2

In [ ]:
logging.getLogger("transformers.tokenization_utils").setLevel(logging.ERROR)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# df = pd.read_csv('drive/MyDrive/train.csv')
df = pd.read_csv('drive/MyDrive/reviews.csv')
df.shape

(358957, 6)

In [ ]:
df.head()

   user_id  ...                                             review
0      923  ...  The food at snack is a selection of popular Gr...
1      924  ...  This little place in Soho is wonderful. I had ...
2      925  ...  ordered lunch for 15 from Snack last Friday.  ...
3      926  ...  This is a beautiful quaint little restaurant o...
4      927  ...  Snack is great place for a  casual sit down lu...

[5 rows x 6 columns]

In [ ]:
def make_id_dict(df):
    user_id_dict = {}
    prod_id_dict = {}

    for idx in tqdm(range(df.shape[0])):
        if df.user_id[idx] in user_id_dict:
            user_id_dict[df.user_id[idx]] += 1
        else:
            user_id_dict[df.user_id[idx]] = 1

        if df.prod_id[idx] in prod_id_dict:
            prod_id_dict[df.prod_id[idx]] += 1        
        else:
            prod_id_dict[df.prod_id[idx]] = 1
        
    return user_id_dict, prod_id_dict

In [ ]:
user_id_dict, prod_id_dict = make_id_dict(df)

100%|██████████| 358957/358957 [00:13<00:00, 26099.72it/s]

In [ ]:
user_id_count = []
prod_id_count = []

for idx in tqdm(range(df.shape[0])):
    user_id_count.append(user_id_dict[df.user_id[idx]])
    prod_id_count.append(prod_id_dict[df.prod_id[idx]])

100%|██████████| 358957/358957 [00:07<00:00, 51204.27it/s]

In [ ]:
df['user_id_count'] = user_id_count
df['prod_id_count'] = prod_id_count

In [ ]:
df.head()

   user_id  prod_id  ...  user_id_count  prod_id_count
0      923        0  ...             39            210
1      924        0  ...              1            210
2      925        0  ...              2            210
3      926        0  ...              1            210
4      927        0  ...              5            210

[5 rows x 8 columns]

In [ ]:
new_label_lst = []
for ele in df.label:
    if ele == -1:
        new_label_lst.append(0)
    else:
        new_label_lst.append(1)

In [ ]:
df.drop(['label'], axis=1)
df['label'] = new_label_lst

In [ ]:
df.head()

   user_id  prod_id  ...  user_id_count  prod_id_count
0      923        0  ...             39            210
1      924        0  ...              1            210
2      925        0  ...              2            210
3      926        0  ...              1            210
4      927        0  ...              5            210

[5 rows x 8 columns]

In [ ]:
df = df.sample(frac=1)
df = df.reset_index(drop=True)

In [ ]:
df_train = df[:10000].reset_index(drop=True)
df_val = df[10000:11000].reset_index(drop=True)
df_test = df[11000:13000].reset_index(drop=True)

In [ ]:
df_train.head()

   user_id  prod_id  ...  user_id_count  prod_id_count
0    58479      251  ...              3           1834
1    39714      202  ...              2            683
2   101723      523  ...              1            414
3    33349      100  ...              2           2677
4    23432      305  ...             14            203

[5 rows x 8 columns]

In [ ]:
sentence = df_train.review[0].lower()
print(sentence)
sentence = re.sub('[\d]+', 'NUMBER', sentence)
sentence = re.sub('[^\dA-Za-z\s]+', '', sentence)
sentence = re.sub('[NUMBER]+', 'NUMBER', sentence)
print(sentence)

# print(sentence.split())

went on a friday night at about 5:30 pm, it was still early and plenty of seats were available.  its a very cool nondescript vibe in here, i liked it though.  for drinks i had the penicillin and the pomegranate sour, the former was tart and sweet. it was the better of the two.  husband had the pickle juice martini and that was really good. you really get like a nice mild pickle flavor as the drink finishes in your mouth. for food we just had a couple of appetizers: the hamachi with wasabi cream and soybeans and the pork buns.  both were delicious especially the pork buns.  i doused them with a liberal amount of sircacha and it did not make it incredibly spicy. it just added to the richness of the flavors.  very enjoyable cool place and i am looking forward to coming back here.
went on a friday night at about NUMBER pm it was still early and plenty of seats were available  its a very cool nondescript vibe in here i liked it though  for drinks i had the penicillin and the pomegranate sour the former was tart and sweet it was the better of the two  husband had the pickle juice martini and that was really good you really get like a nice mild pickle flavor as the drink finishes in your mouth for food we just had a couple of appetizers the hamachi with wasabi cream and soybeans and the pork buns  both were delicious especially the pork buns  i doused them with a liberal amount of sircacha and it did not make it incredibly spicy it just added to the richness of the flavors  very enjoyable cool place and i am looking forward to coming back here

In [ ]:
def make_word_dict(df):
    real_review_dict = dict()
    fake_review_dict = dict()

    for i in tqdm(range(df.shape[0])):
        # word_lst = df.review[i].lower().split()
        
        sentence = df.review[i].lower()
        sentence = re.sub('[\d]+', 'NUMBER', sentence)
        sentence = re.sub('[^A-Za-z\s]', '', sentence)
        sentence = re.sub('[NUMBER]+', 'NUMBER', sentence)
        word_lst = sentence.split()

        if df.label[i] == 1:
            for ele in word_lst:
                if ele in real_review_dict:
                    real_review_dict[ele] += 1
                else:
                    real_review_dict[ele] = 1

        else:
            for ele in word_lst:
                if ele in fake_review_dict:
                    fake_review_dict[ele] += 1
                else:
                    fake_review_dict[ele] = 1

    return real_review_dict, fake_review_dict

In [ ]:
real_review_dict, fake_review_dict = make_word_dict(df_train)

100%|██████████| 10000/10000 [00:01<00:00, 9236.81it/s]

In [ ]:
def make_del_word_lst(threshold, fake_review_dict, real_review_dict):
    del_word_lst = []
    sum_real_review = sum(real_review_dict.values())
    sum_fake_review = sum(fake_review_dict.values())

    for ele in fake_review_dict:
        if ele in real_review_dict:
            real_cnt = real_review_dict[ele] / sum_real_review
            fake_cnt = fake_review_dict[ele] / sum_fake_review

            if real_cnt < fake_cnt:
                real_cnt, fake_cnt = (fake_cnt, real_cnt)
      
            if (fake_cnt / real_cnt) >= threshold:
                del_word_lst.append(ele)

    return del_word_lst

In [ ]:
del_word_lst = make_del_word_lst(threshold=0.9, fake_review_dict, real_review_dict)

In [ ]:
len(del_word_lst)

699

In [ ]:
def make_review_lst(df, del_word_lst):
  new_review_lst = []
  for sentence in tqdm(df.review):
    sentence = sentence.lower()
    
    sentence = re.sub('[\d]+', '<NUM>', sentence)
    sentence = re.sub('[^A-Za-z\s]', '', sentence)
    sentence = re.sub('[<NUM>]+', '<NUM>', sentence)
    new_review_lst.append(''.join(map(lambda x: x + ' ' if x not in del_word_lst else '', sentence.split())))
    
  return new_review_lst

In [ ]:
train_review_lst = make_review_lst(df_train, del_word_lst)
val_review_lst = make_review_lst(df_val, del_word_lst)
test_review_lst = make_review_lst(df_test, del_word_lst)

100%|██████████| 10000/10000 [00:08<00:00, 1243.48it/s]
100%|██████████| 1000/1000 [00:00<00:00, 1273.03it/s]
100%|██████████| 2000/2000 [00:01<00:00, 1241.26it/s]

In [ ]:
# 필요 없다고 생각되는 col들 삭제
df_train = df_train.drop(['user_id', 'prod_id', 'date', 'review'], axis=1)
df_val = df_val.drop(['user_id', 'prod_id', 'date', 'review'], axis=1)
df_test = df_test.drop(['user_id', 'prod_id', 'date', 'review'], axis=1)

In [ ]:
df_train['review'] = train_review_lst
df_val['review'] = val_review_lst
df_test['review'] = test_review_lst

In [ ]:
df_train.head()

   rating  ...                                             review
0     4.0  ...  went on friday night <NUM> pm plenty seats wer...
1     4.0  ...  nice ambiance very nice staff food place to br...
2     5.0  ...  went to city long weekend read place on yelp j...
3     5.0  ...  tasted walnut french toast blueberry pancakes ...
4     5.0  ...  love new wasnt too overly when came weekly gri...

[5 rows x 5 columns]

In [ ]:
# df.comment_text[0]
df_train.review[0]

'went on friday night <NUM> pm plenty seats were its very cool nondescript vibe here liked though drinks penicillin pomegranate sour tart sweet husband pickle juice martini nice mild pickle flavor as drink finishes your mouth food just couple appetizers hamachi with wasabi cream soybeans pork buns were delicious especially pork buns doused with liberal sircacha did make spicy just added to richness flavors very enjoyable cool place am looking forward to coming back here '